<div>
	<p>
	  <strong>Human :: </strong>
	  <%= comment.name %>
	</p>
	 
	<p>
	  <strong>says :: </strong>
	  <%= comment.body %>
	</p>
</div>

<%= link_to 'Delete', [comment.article, comment],
					method: :delete,
					data: { confirm: 'Are you sure?' } %>