<div class="container">
	<div class="about">
		<h2>Jennifer Hatton</h2>
		<h5 id="title"><b>Software Developer</b></h5>
		<p><b>Bio:</b> I've done many things in my life. Software development is by far my favorite. I never thought I'd find something to satisfy my insatiable desire to learn, but here we are. </p>
		
	</div>	
</div>
