<div class="flex-container">
	<div class="contact">
		<h2>Contact Infomation</h2>
		<h6><b>Location:</b> Germantown, TN</h6>
		<h6><b>Phone:</b> 630-317-4589</h6>
		<h6><b>E-mail:</b> jenniferlynnhatton@gmail.com</h6>
	</div>
</div>