<div class="flex-container">
	<div>
		<div class="intro">
			<h1>Hello, there!</h1>
			<p>It's me Jenn. Welcome and hope you find something useful here.</p>
			<div id="blog_link"><%= link_to 'Code Apples', controller: 'articles' %></div>
		</div>
	</div>
</div>
