<div class="container">
	<div class="resume">
		<h2>Jennifer Hatton</h2>
		<h5 id="title"><b>Software Developer</b></h5>
		<p><b>Summary:</b> As a software developer and in previous roles, ​I deconstruct problems, translate complex jargon into easy to understand language and find solutions that best meet individual and business needs. When developing, I​ dive deep into a problem, test in small steps and write human friendly code while​ providing high quality service to the lives of others.
		</p>

		<h5 id="title"><b>Skills</b></h5><p><b>Technical:</b> Ruby, Rails, JavaScript, Vue.js, HTML, CSS, Java, PostgreSQL, Git, GitHub, Testing, Pair-Programming
		</p>		
		
		<h5 id="title"><b>Experience</b></h5>

		<h6><b>Actualize | Software Developer/Teaching Assistant | April 2018 - Present</b></h6>
		<ul class="description">
			<li><b>Teaching Assistant:​</b> Assisted lead instructor with final Capstone Project for Fall 2018 and Spring 2019 cohort students. Completed a variety of research on various frameworks, third-party libraries, and provided one-on-one support to students when troubleshooting or thinking through problems.</li>
			<br>
			<li><b>Individual Capstone: </b>W​ord Drop // Grammar Slayer - Conducted research on various game development libraries, used available documentation to learn the framework Gosu. Created "Word Drop" and "Grammar Slayer" - a leaderboard application that stores and displays player high scores, chooses random words for game play, and displays community pages to share user info.
			</li>
			<br>
			<li><b>Graduate Initiatives:​</b> Developed a Pet Share Application with Rails back-end and React front-end. Built custom components, contributed to the design, development and concept building for a 6-week time frame. Currently, working on personal projects, taking courses to deepen programming skills and adding new technologies to foundational skill set.
			</li>
			<br>
			<li> <b>Bootcamp:​ </b>Completed an intensive, 4-month Actualize bootcamp and learned web technologies: Ruby, Rails, HTML, CSS, JavaScript, Github, and Vue.js. ​Developed a software engineering mindset by breaking down complex problems into smaller parts, testing frequently, and optimizing for the most efficient and clean solution.
			</li>
			
			</ul>

		</p>
	</div>	
</div>
